/* NAVBAR BEGINING */
.container {
    min-width: 90%;
    max-width: 90%;
}

.flex-container {
    display: flex;
}

ul {
    list-style: none;
    width: 100%;
    margin: auto;
    text-align: center;
}

.is-left {
    margin: auto 0;
}

.is-right {
    display: flex;
    margin: auto 0 auto auto;
}
.navbar{
    position: fixed;
    width: 100%;
    background-color: transparent ;
    box-shadow: none;
    transition: all 1s;
}

a.navbar-item {
    padding-top: 2rem;
    padding-bottom: 1rem;
    color: black;

}
a.navbar-item:hover{
    background-color: transparent;
}

li.subtitle-in-box {
    padding: 0.4rem;
}

#div {
    display: none;
    width: 30%;
    position: absolute;
    padding: 30px 0;
    background-color: white;
    margin-top: 6rem;
    margin-left: 3rem;
}

#div:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 0 15px 15px;
    border-color: white transparent;
    display: block;
    width: 0;
    z-index: 1;
    margin-left: -15px;
    top: -15px;
    left: 11%;
}

#div1 {
    display: none;
    width: 60%;
    position: absolute;
    padding: 50px 0;
    text-align: center;
    background-color: white;
    margin-top: 6rem;
    margin-left: 8rem;
}

#div1:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 0 15px 15px;
    border-color: white transparent;
    display: block;
    width: 0;
    z-index: 1;
    margin-left: -15px;
    top: -15px;
    left: 11%;
}

/* NAVBAR END */

.columns.features {
    padding-top: 7rem;
}

@media screen and (max-width: 1087px){
.navbar>.container {
    display: flex;
}
}