html,
body {
    height: 3080px;
} 


.container {
 
    min-width: 90%;
    width: 90%;
}

/* NAVBAR BEGINING */

.flex-container {
    display: flex;
}

ul {
    list-style: none;
    width: 100%;
    margin: auto;
    text-align: center;
}

.is-left {
    margin: auto 0;
}

.is-right {
    display: flex;
    margin: auto 0 auto auto;
}
.navbar{
    position: fixed;
    width: 100%;
    background-color: transparent ;
    box-shadow: none;
    transition: all 1s;
}

a.navbar-item {
    padding-top: 2rem;
    padding-bottom: 1rem;
    color: black;

}
a.navbar-item:hover{
    background-color: transparent;
}

li.subtitle-in-box {
    padding: 0.4rem;
}

#div {
    display: none;
    width: 30%;
    position: absolute;
    padding: 30px 0;
    background-color: white;
    margin-top: 6rem;
    margin-left: 3rem;
}

#div:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 0 15px 15px;
    border-color: white transparent;
    display: block;
    width: 0;
    z-index: 1;
    margin-left: -15px;
    top: -15px;
    left: 11%;
}

#div1 {
    display: none;
    width: 60%;
    position: absolute;
    padding: 50px 0;
    text-align: center;
    background-color: white;
    margin-top: 6rem;
    margin-left: 8rem;
}

#div1:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 0 15px 15px;
    border-color: white transparent;
    display: block;
    width: 0;
    z-index: 1;
    margin-left: -15px;
    top: -15px;
    left: 11%;
}




/* NAVBAR END */



/* MAIN SECTION BEGINING */
.title {
    width: 100%;
    padding-top: 15%;

}

h1.title {
    padding-top: 15%;

}
.myButton {
    background-color: transparent;
    border-radius: 2rem;
    border: 1px solid #f9f2f2;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 17px;
    padding: 10px 42px;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.4s ease-in;
    font-family: "Baskerville Old Face";
}

.myButton:hover {
    background-color: #f9f2f2;
    color: #333333;
}

.myButton:active {
    position: relative;
    top: 1px;
}

.header a {
    position: absolute;
    margin: 0 auto;
    width: 90%;
}


section.hero.main-image {
    background-image: url("slike/background.jpg");
    background-size: cover;
    background-position: center center;
    height: 100vh;
}

/* HERO */
.hero {

    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 1000px;
}

.container.text.has-text-centered {
    height: 35rem;
}

/* BUBBLE */

.column{
    flex-basis: none;
}

.bubble-container{
    width: 80%;
    background-color: #fff;
    margin: auto;
    margin-top: 6rem;
    padding: 1rem;
}
.form-control {
	border: none;
	height: 65px;
	-webkit-box-shadow: none;
	box-shadow: none;
	font-size: 24px;
	color: #090a0b;
	font-weight: 300;
	background: #f2f1f1;
    border-radius: 4px;
    width: 100%;
}
.form-control1 {
	border: none;
	height: 65px;
	-webkit-box-shadow: none;
	box-shadow: none;
	font-size: 24px;
	color: #090a0b;
	font-weight: 300;
	background: #f2f1f1;
    border-radius: 4px;
    width: 90%;
}
    .form-group {
	position: relative;
/*	margin-bottom: 30px; */
}

/*button */

    .submit-btn {
        background: #184c8f;
        border: none;
        font-weight: 600;
        text-transform: uppercase;
        height: 90px;
        font-size: 18px;
        width: 100%;
        color: #fff;
        border-radius: 4px;
        display: block;
    }
  

/* BUBBLE */

/* MAIN SECTION END  */

@media screen and (max-width: 1087px){
.navbar>.container {
    display: flex; 
}
}

